<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CD</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='CDicon.ico') }}">

</head>
<body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="https://github.com/CharDon46">Github</a></li>
      <li><a href="https://www.linkedin.com/in/charles-donaldson-b89b38127/">LinkedIn</a></li>
    </ul>
  </div>
</div>

<div class="callout large">
<div class="row column text-center">
<h1>Charles Donaldson</h1>
<p class="lead">2113 Hawthorn Ct. Dr. 3512, IA 50010 | (712) 326 4870 | Charlesd@iastate.edu </p>
<a href="#" class="button large">Resume</a>
</div>
</div>
<div class="row">
<div class="medium-6 columns medium-push-6">
<img class="thumbnail" src="/static/CDHeadshot2.jpg"/>
</div>
<div class="medium-6 columns medium-pull-6">
<h2>About me</h2>
<p>A fourth-year student in Management Information Systems at Iowa State University. Seeking a full-time job after graduation (May 2020). Interested in information security, system administration, and full-stack development. Experience in data research, technical troubleshooting, and customer service.</p>
</div>
</div>
<hr>

<div class="row column">
<h3>My Recent Work</h3>
</div>
<div class="row medium-up-3 large-up-4">
<div class="column">
<img class="thumbnail" src="/static/lokolylog.png">
</div>
<div class="column">
<img class="thumbnail" src="/static/ryderscooter.png">
</div>
<div class="column">
<img class="thumbnail"  src="/static/ISUdining.jpeg">
</div>
<div class="column">
  <img class="thumbnail" src="/static/CDLogo.png">
  </div>
</div>
<hr>
<div class="row column">
<ul class="menu">
<li><a href="#">Github</a></li>
<li><a href="#">LinkedIn</a></li>
<li><a href="#">Contact Me</a></li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
