<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Charles Donaldson</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='CDicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}">

</head>
<body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="https://github.com/CharDon46">Github</a></li>
      <li><a href="https://www.linkedin.com/in/charles-donaldson-b89b38127/">LinkedIn</a></li>
    </ul>
  </div>
</div>

<div class="callout large">
<div class="row column text-center">
<h1>Charles Donaldson</h1>
<p class="lead">2113 Hawthorn Ct. Dr. 3512, IA 50010 | (712) 326 4870 | Charlesd@iastate.edu </p>
<a href="{{ url_for('static', filename='CD-Resume.pdf') }}" class="button large">Resume</a>
</div>
</div>
<div class="row">
<div class="medium-6 columns medium-push-6">
<img class="thumbnail" src="/static/CDHeadshot2.jpg"/>
</div>
<div class="medium-6 columns medium-pull-6">
<h2>About me</h2>
<p>A fourth-year student in Management Information Systems at Iowa State University. Seeking a full-time job after graduation (May 2020). Interested in information security, system administration, and full-stack development. Experience in data research, technical troubleshooting, and customer service.</p>
</div>
</div>
<hr>
<div class="row column">
  <h3>My Recent Work</h3>
</div>
<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="/static/lokolylog.png">
  </div>
  <div class="columns medium-5">
    <h2 class="work-feature-block-header">Lokoly.com</h2>
    <p>In the spring of 2019 my friend Nicholas and I created an ecommerce company called Lokoly. Our mission was to create a website that connected local producers to consumers wishing to shop locally produced CPGs. Over the six months of my envolvement we were able to fulfill over 150 orders with 13 vendors registered on the site. My responsibilites included site maintenance, customer UI experience and design, troubleshooting/customer-vendor support, and content updates. You can shop local at <a href="https://lokoly.com/">Lokoly.com.</a></p>
    <h2>Project Details</h2>
    <ul>
      <li>WordPress</li>
      <li>MySQL</li>
    </ul>
  </div>
</div>
<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="/static/ryderscooter.png">
  </div>
  <div class="columns medium-5">
    <h2 class="work-feature-block-header">Ryder Scooters Web Application</h2>
    <p>Ryder Scooters was a group project for MIS 407. The goal of Ryder Scooters was to provide a last mile transportation service for college students. We created a simple web app that allowed customers to find out more about Ryder Scooters, create or log into an account, and reserve/checkout a scooter. We also developed a manager dashboard with statistics on scooter usage, and most traveled routes.<a href="https://ryderscooters.herokuapp.com/"> Ryderscooters.com</a></p>
    <h2>Project Details</h2>
    <ul>
      <li>Python</li>
      <li>Flask</li>
      <li>PostgreSQL</li>
      <li>Google Maps API</li>
    </ul>
  </div>
</div>
<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="/static/ISUdining.jpeg">
  </div>
  <div class="columns medium-5">
    <h2 class="work-feature-block-header">ISU Dining Database Application</h2>
    <p>ISU Dining Database Application was a group project for MIS 320. We were givin the task to create a database appplication for a local business. We contacted ISU Dining to find out their business processeses and rules and created a database based on them. The application provided managers the ability to see employee information and inventory status.<a href="{{ url_for('static', filename='FinalReport.pdf') }}"> Final Report</a></p>
    <h2>Project Details</h2>
    <ul>
      <li>Oracle SQL Developer</li>
    </ul>
  </div>
</div>
<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="/static/CDLogo.png">
  </div>
  <div class="columns medium-5">
    <h2 class="work-feature-block-header">Personal Website</h2>
    <p>My personal website is place where I can post my projects and anything that I like. Its a work-in-progress but I plan to make weekly updates.</p>
    <h2>Project Details</h2>
    <ul>
      <li>Python</li>
      <li>Flask</li>
      <li>Foundation 6</li>
    </ul>
  </div>
</div>

<hr>
<div class="row column">
<ul class="menu">
<li><a href="https://github.com/CharDon46">Github</a></li>
<li><a href="https://www.linkedin.com/in/charles-donaldson-b89b38127/">LinkedIn</a></li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
