
ul {
  list-style-type: none;
  margin: 4;
  padding: 0;
  overflow: hidden;
  background-color: #173269;
  right: 0;
  width: 35%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 10px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #BFC0C0;
}

.top-logo-center {
  padding-left: 600px;
  width: 200px;
}
  
  